@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color: #fbf2cf;
  --text-color: #000;
  --white-color: #fff;
  --second-color: #ef9a53;
  --span-color: #eb6440;
  --background-foto-color: #fcddb0;
  --button-hover: #e14d2a;
  --eeeeee: #eeeeee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: var(--background-foto-color);
}
.App {
  margin: 5% auto;
  width: 50%;
  padding: 30px;
  border: 1px solid var(--text-color);
  text-align: center;
  background-color: var(--second-color);
}
/* CSS Todos.jsx */
.input-section {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px;
}
input::placeholder {
  font-size: 15px;
}
.todo-input {
  border-radius: 10px;
  width: 40%;
  border: 1px solid var(--text-color);
  padding-left: 10px;
  background-color: var(--eeeeee);
  font-size: 20px;
}
.add-btn {
  border-radius: 10px;
  border: 1px solid var(--text-color);
  width: 60px;
  padding: 5px;
  background-color: var(--eeeeee);
}
.add-btn:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}
/* CSS Todoitem.jsx */
li {
  list-style: none;
  border: 1px solid black;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
  background-color: var(--eeeeee);
}
.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
textarea {
  text-align: center;
  width: 50%;
  color: black;
  background-color: var(--eeeeee);
  font-size: 20px;
  resize: none;
  border: 1px solid var(--eeeeee);
}
.completed {
  color: black;
  background-color: var(--white-color);
  border: 1px solid var(--text-color);
  padding: 5px;
  border-radius: 5px;
}
/* CSS DisplayTodos.jsx */
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 45px;
}
button {
  width: 90px;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--eeeeee);
  border: 1px solid var(--text-color);
}
button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}
